/* src/components/Product.css */
.item-card{
    /* Add your product styles here */
    border: 1px solid black;
    width: 100%;
  }

  /* .image-card {
    width: 100%;
  }  */
  
  .scroll-container {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 10px;
    border: 1px solid black;
  }

  .product-carousel {
    border: 1px solid green;
    display: flex;
    align-items: center;
  }

  .pre-btn, .next-btn {
    border: none;
    /* border: 1px solid black; */
    width: 15vh;
    height: 8vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
}

.next-btn {
    right: 0;
}



  