#cart-container.cart-container {
    // max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    display: grid;
    grid-template-columns: 68% 29%;
    gap: 10px;
  
    h1 {
      font-size: 36px;
      margin-bottom: 30px;
      color: #08255f;
    }
  
    .cart-items {
  
      .cart-item {
        margin: 10px 0;
        padding: 0 20px;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border: 1px solid rgb(228, 228, 228);
        grid-template-columns: 200px 300px 60px 50px 80px 50px 150px;
        display: grid;
        gap: 10px;
        opacity: 1;
        transition: height 2s, opacity 1s, padding 1s, margin 1s;
        button {
          background-color: #ff7112;
          padding: 15px ;
          text-align: center;
          text-transform: uppercase;
          transition: 0.5s;
          background-size: 200% auto;
          color:white;
          box-shadow: 0 0 20px #eee;
          border-radius: 10px;
          display: block;
          border: none;
          cursor: pointer;
           font-weight: bold;
        }
    
        button:hover {
          background-position: right center; 
          background-color: black;
          color: rgb(235, 235, 235);
          text-decoration: none;
        }
  
        img {
          max-width: 100%;
          height: 200px;
          border-radius: 4px;
        }
  
        h3 {
          font-size: 24px;
          margin-bottom: 10px;
        }
  
        p {
          font-size: 18px;
          margin-bottom: 10px;
        }
      }
      .cart-item.removed {
        opacity: 0;
        height: 0;
        padding: 0;
        margin: 0;
      }
    }
  
    .cart-total {
      width: 100%;
      box-shadow: rgba(6, 24, 44, 0.1) 0px 0px 0px 1px, rgba(6, 24, 44, 0.3) 0px 4px 6px -1px, rgba(255, 255, 255, 0.2) 0px 1px 0px inset;
      border-radius: 16px;
      bottom: 0;
      overflow: hidden;
      left: 0;
      padding: 20px;
      display: flex;
      flex-direction: column;
      height: max-content;
      margin-top: 10px;
  
      .total, .discount, .subtotal {
     
        display: flex;
        justify-content: space-between;
        gap: 20px;
        
  
        p {
          font-size: 28px;
          margin-bottom: 10px;
        }
      }
  
      .totalpay {
        color: black;
        padding: 10px;
       
       
      }

    h3{
        text-align: center;
    }
     
    }
    .paynow{
      background-image: linear-gradient(to right, #2c2c2c 0%, #000000 51%, #212121 100%);
      

        padding: 15px ;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-top: 20px;
    
    }
  }
  
  @media screen and (max-width: 900px) {
    #cart-container.cart-container {
      .cart-items {
        text-align: center;
        .cart-item {
          grid-template-columns: 100%;
          padding:  20px;
          justify-content: center;
          img{
              margin: auto;
          }
        }
      }
      .cart-total{
        div {
          padding: 5px;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    #cart-container.cart-container {
      h1{
        font-size: 24px;
      }
      .cart-items {
        text-align: center;
        .cart-item {
          grid-template-columns: 100%;
          padding:  20px;
          justify-content: center;
          img{
              margin: auto;
          }
        }
      }
    }
  }