* {
  margin: 0;
  padding: 0;
}

#cars-data.cars-data {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 19%);
  gap: 10px;
  .img {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    img {
      width: 100%;
      transition: transform 0.5;
      border-radius: 16px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 0px 0px;
      height: 100%;
    }

    &:hover {
      transform: scale(1.03);
    }
  }
  p {
    // background-color: red;
    border-radius: 50%;
    // border: 1px solid black;
    padding: 5px;
    color: rgb(6, 6, 6);
  }


  .card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    // background: red;
    height: 100%;
    border-radius: 8px;
    .title {
      display: flex;
      justify-content: space-between;

      .name {
        span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          max-width: 80%;
          display: inline-block;
        }
      }
      .color {
        display: flex;
        gap: 5px;
        align-items: center;

        span {
          border-radius: 50%;
          padding: 5px;
        }
      }
    }
    .top-data {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 5px;
      strong {
        color: rgb(228, 126, 0);
      }
      .name {
        width: calc(100% - 40px);
      }
    }

    .details-data {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 5px;
    }
    strong {
      display: grid;
      grid-template-columns: 50% 50%;
      justify-content: left;
      span {
        font-weight: 600;
        color: gray;
        display: flex;
      }
    }
  }
}

.respon_div {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 10px 30px;
  position: sticky;
  top: 0;
  z-index: 1;
  flex-wrap: wrap;
  background: white;
}

.loader-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 48px;
  height: 48px;
  border-top: 8px solid hsl(0, 100%, 50%);
  border-right: 8px solid white;
  border-bottom: 8px solid #09902b;
  border-left: 8px solid white;
  border-radius: 90%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  margin-top: 16px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.select-common {
  background-image: linear-gradient(
    to right,
    #3b3838 15%,
    #252424 28%,
    #3d3a3a 100%
  );
  padding: 15px 45px;
  // text-align: center;
  border: none;
  width: max-content;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  text-transform: uppercase;
  color: rgb(219, 219, 219);
  box-shadow: 0 0 20px #eee;
  border-radius: 4px;
  display: block;
  cursor: pointer;
  // width: 100%;
  font-weight: 600;
  font-size: 16px;
  * {
    background: rgb(21, 21, 21);
    border: none;
    // padding: 10px;
    font-size: 12px;
    max-width: 30px;
    border-radius: 16px;
  }

  &::placeholder {
    color: rgb(154, 154, 154);
    font-weight: 400;
    text-transform: capitalize;
  }

  &:hover {
    background-position: right center;
    // color: #fff;
    text-decoration: none;
  }
}
.rating-btn {
  position: relative;
  min-width: 158px;
  background-image: linear-gradient(
    to right,
    #3b3838 15%,
    #252424 28%,
    #3d3a3a 100%
  );
  padding: 15px 45px;
  // text-align: center;
  border: none;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  text-transform: uppercase;
  color: rgb(219, 219, 219);
  box-shadow: 0 0 20px #eee;
  border-radius: 4px;
  display: block;
  cursor: pointer;
  // width: 100%;
  font-weight: 600;
  font-size: 16px;
  flex-grow: 1;

  .rating {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    text-align: left;
    background: rgb(21, 21, 21);
    border: none;
    padding: 10px;
    border-radius: 4px;
    display: none;

    div {
      display: flex;
      gap: 10px;
      margin: 10px 0;
    }
  }
  &:hover {
    .rating {
      display: block;
    }
  }
}

.all-img {
  img {
    width: 100%;
  }
}


.pagination{
// border: 1px solid red;
width: 400px;
margin: auto;
display: flex;
gap: 30px;
justify-content: center;
align-items: center;
padding: 10px ;

  button{
    padding: 5px 10px;
    background-color: rgb(232, 138, 122);
    border-radius: 4px;
    // margin: 10px 10px;
  }
  

}



@media screen and (max-width: 900px) {
  #cars-data.cars-data {
    grid-template-columns: repeat(3, 30%);
  }

  .Prod_contain h1 {
    text-align: center;
    // margin-bottom: 25px;
    // font-size: 27px;
  }
}

@media screen and (max-width: 601px) {
  #cars-data.cars-data {
    grid-template-columns: repeat(1, 1fr);
  }
  .respon_div{
    position: relative;
  }

  .Prod_contain h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 27px;
  }

  #cars-data.cars-data .img img {
    width: 100%;
    transition: transform 0.5;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 0px 0px;
    height: 100%;
  }
  #cars-data.cars-data .card .top-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 9px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: -30px;
  }
  // .rating-btn{
  // display: none;
  // }
  #cars-data.cars-data p {
    display: none;
  }

  #cars-data.cars-data .card .title .name span {
    max-width: none;
  }

  .respon_div select {
    width: 100%;
  }


  #serc_bt_res {
    margin: auto;
  }
}
